spring:
  application:
    name: froggy
  profiles:
    active:
      - docker
      - dev
  datasource:
    url:
    username:
    password:
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 50
  flyway:
    enabled: true
    baseline-on-migrate: true
  jpa:
    database: postgresql
    hibernate:
      ddl-auto: validate
    open-in-view: false
  quartz:
    job-store-type: jdbc
    properties:
      org:
        quartz:
          scheduler:
            idleWaitTime: 7500
          jobStore:
            driverDelegateClass: org.quartz.impl.jdbcjobstore.PostgreSQLDelegate
  servlet:
    multipart:
      max-file-size: 32MB
springdoc:
  swagger-ui:
    path: /swagger
server:
  tomcat:
    threads:
      max: 500
