.wrapper {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form label {
    color: #54c750;
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 3rem;
    max-height: 10rem;
    resize: vertical;
    outline: none;
    border-radius: 0.5rem;
    padding: 0.625rem 0.75rem;
    background-color: #2a2a2a;
    border: none;
    line-height: 1.5;
    color: #f0f2f0;
}

.button {
    font-weight: bold;
    color: #54c750;
}

.error {
    color: red;
    font-weight: normal;
    text-align: center;
}