.wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #2a2a2a;
    gap: 1rem;
}

.content {
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #1a1a1a;
}

.header {
    display: flex;
    justify-content: space-between;
    color: #54c750;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}