.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    padding: 1.5rem;
    margin-top: 1rem;
    gap: 1rem;
    max-width: 40rem;
    width: 100%;
    border-radius: 1rem;
    min-height: 0;
}

.backButton {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: #54c750;
}

.header {
    display: flex;
    justify-content: space-between;
    color: #54c750;
    font-size: 1.5rem;
    font-weight: bold;
}

.content {
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #2a2a2a;
}

.commentSection {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 1rem;
}

.emptyMessage {
    text-align: center;
    font-style: italic;
    padding: 2rem;
    color: #54c750;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-between;
}

.editContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.editTextArea {
    box-sizing: border-box;
    width: 100%;
    min-height: 5rem;
    max-height: 12.5rem;
    resize: vertical;
    outline: none;
    border-radius: 0.75rem;
    padding: 0.625rem 0.75rem;
    background-color: #3e3f3e;
    line-height: 1.5;
    color: #f0f2f0;
    border: none;
}
