.wrapper {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    padding: 1.5rem;
    margin-top: 1rem;
    gap: 1rem;
    max-width: 40rem;
    width: 100%;
    border-radius: 1rem;
}

.backButton {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: #54c750;
}

.header {
    display: flex;
    justify-content: space-between;
    color: #54c750;
    font-size: 1.5rem;
    font-weight: bold;
}

.content {
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #2a2a2a;
}

.commentSection {
    display: flex;
    flex-direction: column;
}

.emptyMessage {
    text-align: center;
    font-style: italic;
    padding: 2rem;
    color: #54c750;
}

