.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #1e1e1e;
    border-radius: 1rem;
    min-height: 0;     /* allow shrinking */
    overflow: hidden;  /* prevent scrolling here */
}

.header {
    font-size: 1.5rem;
    font-weight: bold;
    color: #54c750;
}

.posts {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-sizing: border-box;
    overflow-y: auto;
}

.message {
    color: #54c750;
    text-align: center;
    font-style: italic;
    padding: 1.5rem;
}
