
.postCard {
    border: 1px solid #e1e1e1;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
    word-wrap: break-word;
    font-family: "Segoe UI", sans-serif;
    background-color: #2a2a2a;
}

.author {
    font-weight: 600;
    font-size: 1rem;
}

.date {
    font-size: 0.875rem;
}

.buttonContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: left;
}

.container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
}

.postCard p {
    font-size: 1rem;
    margin: 0;
    line-height: 1.5;
}
