.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #1e1e1e;
    border-radius: 1rem;
    border: 1px solid blue
}

.header {
    font-size: 1.5rem;
    font-weight: bold;
    color: #54c750;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-sizing: border-box;
    overflow-y: auto;
}

.emptyMessage {
    text-align: center;
    font-style: italic;
    padding: 1.5rem;
}