.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
    place-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 60rem;
    gap: 1.5rem;
    height: 100%;
    overflow-y: auto;
}