.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
    width: 100%;
    place-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 1rem;
    border: 1px solid red;
    padding: 1rem;
    max-width: 75%;
    min-width: 35rem;
}