.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 0;     /* allow shrinking */
    overflow: hidden;  /* prevent scrolling here */
}

.content {
    flex: 1;
    display: flex;
    height: 100%;
    box-sizing: border-box;
    min-height: 0;     /* allow shrinking */
    overflow: hidden;  /* prevent scrolling here */
}