.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    place-items: center;
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 0;
}

.content {
   flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 1rem;
    max-width: 75%;
    min-width: 35rem;
    min-height: 0;
    overflow: hidden;
}

.hidden {
    display: none;
}