.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}

.nonClickable {
    transition: background-color 0.2s ease;
}

.nonClickable:hover{
    border: none;
    cursor: default;
}


